/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import Custom CSS */
@import "./base/base.css";
@import "./base/themes.css";
@import "./base/typography.css";